legacy/n8n_workflows/workflow_busca_avancada.json
{
  "name": "Magazord - Busca Avancada",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "termo",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "trigger-avancada",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chinelarialeilaneneves.painel.magazord.com.br/api/v3/produtos/query?limit=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic TVpES2M5MzE3ZWE5OWY3ODA3YzEyZDM4ZjU5OGJkMjcxYWVlNWNjODJjODBhYmUyM2MzYzk1YWU1NDY1MTA0Yzp1QERsTzliWW9aNyQ="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filters: [{ field: 'nomeDerivacao', operator: 'like', value: $json.termo }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "id": "http-avancada",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nfunction makeSlug(nome) {\n  const semTam = nome.replace(/\\s+(\\d+(\\/\\d+)?(\\s+un)?|un)\\)\\s*$/, ')').replace(/[()]/g, ' ');\n  return semTam\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n}\n\nif (data.items && Array.isArray(data.items)) {\n  const produtos = data.items.map(item => {\n    const slug = makeSlug(item.nomeDerivacao || '');\n    return {\n      nome: item.nomeProduto,\n      derivacao: item.nomeDerivacao,\n      codigo: item.codigoProduto,\n      sku: item.derivacaoCodigo,\n      marca: item.nomeMarca,\n      ativo: item.ativo,\n      link: 'https://www.chinelarialeilaneneves.com.br/' + slug\n    };\n  });\n  return [{ json: { total: data.total, encontrados: produtos.length, produtos } }];\n}\n\nreturn [{ json: { erro: 'Nenhum produto encontrado' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "format-avancada",
      "name": "Formatar Resposta"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
